 .u-section-1 {
  min-height: 318px;
}

.u-section-1 .u-sheet-1 {
  min-height: 485px;
}

.u-section-1 .u-image-1 {
  width: 753px;
  height: 485px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: -385px auto 0 91px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  margin: 60px auto 60px 93px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 66px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 464px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -364px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 348px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -248px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 219px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 219px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -119px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 321px;
}

.u-section-2 .u-text-1 {
  margin: 24px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 15px 87px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 24px auto 50px;
  padding: 6px 24px 7px 23px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 496px;
}

.u-section-3 .u-gallery-1 {
  height: 242px;
  grid-gap: 17px 17px;
  margin-top: 56px;
  margin-bottom: 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 17px 17px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-text-1 {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 63px -16px 0 840px;
}

.u-section-3 .u-text-2 {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -26px auto 0 77px;
}

.u-section-3 .u-text-3 {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  width: 316px;
  margin: -26px auto 0;
}

.u-section-3 .u-gallery-item-4 {
  margin-left: 0;
  margin-top: 109px;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-3 .u-gallery-1 {
    height: 199px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-3 .u-text-1 {
    margin-left: 740px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 21px;
  }

  .u-section-3 .u-text-3 {
    width: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-3 .u-gallery-1 {
    height: 457px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-text-1 {
    margin-left: 630px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1282px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1028px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-text-1 {
    margin-left: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 901px;
  }

  .u-section-3 .u-gallery-1 {
    height: 647px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 440px;
  }
}